body {
    padding-top: 5rem;
}
/*
label {
    display: block;
}
label .photo{
    margin-left: 15px;
}
.desc-box{
    display: block;
}
textarea{
    width:1200px;
}
.file-upload{
    display: block;
    margin-left: 15px;
    padding-bottom: 20px;
    
}
button{
    background-color: rgb(83, 83, 248);
    color: #fff;
    margin-left: 15px;
}*/